@import "tailwindcss";

@theme{
  --color-primary:#02B290;
  --color-secondary:#353535;


}

.container{width: 96%; margin: auto;}

.swiper-button-next,.swiper-button-prev{display: flex; align-items: center; justify-content: center; width: 50px !important; height: 50px !important; background-color: #fff !important; border-radius: 100% !important; }

.swiper-button-next svg,.swiper-button-prev svg{ color: #000 !important; width:15px !important;}

.swiper-button-next:hover,.swiper-button-prev:hover{@apply !bg-primary}
.swiper-button-next:hover svg,.swiper-button-prev:hover svg{color: #fff !important;}

.MuiTabs-list button{font-weight: 600 !important;}
.MuiTabs-list .Mui-selected{@apply !text-primary;}
.MuiTabs-indicator{background-color:#02B290 !important ;}
.MutTabsScrollButton-root svg{font-size: 20px !important; width: 20px !important; height: 20px !important;}